@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/*
font-family: 'Karla', sans-serif;
font-family: 'Rubik', sans-serif;
*/

body{
    background-image:url('https://i.pinimg.com/originals/65/cd/bf/65cdbfeb670844bfdf971416f7738582.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #1B2F4C;
}

.main-container{
    margin: 4em auto;
    width: 19em;
    text-align: center;
}

.search{
    height: 0em;
    width: 15em;
    border-radius: 0.4em;
    border:none;
    padding:1.8em 3em;
    outline:none;
}

.search-btn{
    
    padding: 0.9em 1.2em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border:transparent;
    outline: none;
    background:#1B2F4C;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size:1em;
    position: absolute;
    margin:0 -5.5em;
}

.search-btn:hover{
    cursor: pointer;
    background: #456fad;
}

.city{
    background-color: rgba(129, 229, 236, 0.712);
    border-radius: 2em;
    padding: 0.5em 0em;
    margin-top: 3em;
}

.city-name{
    font-family: 'Rubik', sans-serif;
    columns: #303030;;
    font-size:2em;
}

.city-temp{
    font-family: 'Rubik', sans-serif;
    color:#303030;
    font-size:1.4em;
    
}

#weather-description{
    font-family: 'Karla', sans-serif;
    columns: #303030;;
    font-size:1.2em;
}


@media only screen and (max-width: 768px){
    body{
        background:url(https://i.ibb.co/R7DR7xV/tablet.jpg);
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 420px){
    body{
        background:url(https://i.ibb.co/Ldg1zjY/phone.jpg);
        background-repeat: no-repeat;
    }
}